<div class="row">
  <div class="span3">
    <div class="thumbnail">
       <p><%= image_tag(@promotion.image_url) if @promotion.image? %></p>
      <div class="caption">
        <h3><%= @promotion.title %></h3>
        <p><%= @promotion.description %></p>
        <p><%= @promotion.price %></p>
        <p><%= @promotion.expiration %></p>
        <p><%= @promotion.website %></p>
        <p><%= image_tag(@promotion.qrcode_url) if @promotion.qrcode? %></p>
        <p><a href="#" class="btn btn-default">Buy</a></p>
      </div>
    </div>
  </div>
</div>
<br>
<div>
<%= link_to "Edit", edit_promotion_path(@promotion), class: 'btn btn-mini' %>
</div>
