<!DOCTYPE html>
<html>
<head>
  <title>MobileWrx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Promotions", promotions_path %></li>
		<li><%= link_to "How it WRX", how_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
		<li><%= link_to "About Us", about_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</ul>

<%= yield %>
</div>

</body>
</html>
