<!DOCTYPE html>
<html>
<head>
  <title>MobileWrx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Promotions", promotions_path %></li>
		<li><%= link_to "How it WRX", how_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
		<li><%= link_to "About Us", about_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</ul>

	<% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

<%= yield %>
</div>

</body>
</html>
