<!DOCTYPE html>
<html>
<head>
  <title>MobileWrx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<ul>
		<li><%= link_to "Home", welcome_index_path %></li>
		<li><%= link_to "Promotions", welcome_promotions_path %></li>
		<li><%= link_to "How it WRX", welcome_how_path %></li>
		<li><%= link_to "FAQ", welcome_faq_path %></li>
		<li><%= link_to "About Us", welcome_about_path %></li>
		<li><%= link_to "Contact Us", welcome_contact_path %></li>
	</ul>

<%= yield %>

</body>
</html>
